@tailwind base;

@tailwind components;

@tailwind utilities;

body{
  display: flex;
}
.icons-holder {
  display: flex;
  flex: 1 0 0%;
  align-items: center;
  justify-content: flex-end;
}
.navbar-wrapper {
  width: 100vw;
  background-color :rgb(255, 255, 255);
  position: fixed;
  z-index:12;
  border: 1px solid #dbdbdb;
  height: 54px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.navbar {
  padding: 0 16px;
  display: flex;
  max-width: 975px;
  width: 100%;
  height: 54px;
  align-items: center;
  justify-content: center;
}
.nav-icon {
  margin-left: 22px;
}
.search input {
  text-align: -webkit-center;
}
.site-icon-holder {
  flex: 1 9999 0%;
}
.search {
  flex: 0 1 auto;
  min-width: 125px;
  width: 215px;
}
.search-bar{
  padding-right: 8px;
  margin: 12px 0;
  position: relative;
  width: 100%;
  border: solid 1px #dbdbdb;
  font-size:14px;
  border-radius: 4px;
  height: 28px;
  background-color :rgb(250, 250, 250);
}
.site-icon {
  margin-top: 10px;
  height: 29px;
}
.user-dp {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.posts-row {
  display: flex;
}
.follow-button {
  background: #0095f6;
 padding: 0 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
}
.contents {
    padding: 59px 20px 0;

  display: block;
  margin: 0 auto 30px;
  max-width: 935px;
}
.post-image {
  object-fit: cover;
}
.icons {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.post {
  flex: 1 0 0%;
  display: block;
  position: relative;
}

.post:hover .icons {
  opacity: 1;
}
.post-text-bold {
  margin-left: 8px;
  font-weight: 600;
  margin-right: 3px;
}
.w-30 {
  width: 30%;
}

.flex {
  display: flex;
}
.search-icon {
  margin: 15px 55px;
  z-index: 10;
  position: absolute;
  background: transparent;
  border-radius: 2px;
}
.post-reactions {
  display: none;
  justify-content: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  margin-top: auto;
  align-items: center;
  color: white;
}

.post:hover .post-reactions {
  display: flex;
}

/* tablet and bigger screens */

@media (min-width: 736px) {
  .post-image {
    height: 293px;
    width: 293px;
  }
  .posts-row {
    margin-bottom: 28px;
  }
  .post:last-child {
    margin-right: 0px;
  }
  .post {
    margin-right: 28px;
    width: 900px;
  }
  .user-strong-name {
    font-size: 20px;
    font-weight: 600;
  }
  .stats-bold {
    font-weight: 600;
    margin-right: 3px;
  }
  .stats-mid {
    margin-right: 40px;
    margin-left: 40px;
  }
  .dp-holder {
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-basis: 0;
  }
  .stats-container {
    display: flex;
  }
  .user-stats {
    margin-bottom: 20px;
  }
  .user-name {
    margin-bottom: 20px;
  }
  .user-details {
    flex-basis: 30px;
    flex-grow: 2;
  }
  .header-wrapper {
    margin-bottom: 44px;
  }
  .contents {
    box-sizing: content-box;
    padding: 89px 20px 0;
    width: calc(100% - 40px);
  }
  .mobile-description {
    display: none;
  }
  .mobile-user-stats {
    display: none;
  }
  .follow-button {
    margin-left: 20px;
  }
  .name {
    display: flex;
  }
}
/* mobile css */
@media (max-width: 735px) {
  .mobile-dn {
    display: none;
  }
  .post:last-child {
    margin-right: 0px;
  }
  .post {
    margin-right: 3px;
  }
  .posts-row {
    margin-bottom: 3px;
  }
  .user-stats {
    display: none;
  }
  .user-description {
    display: none;
  }
  .dp-holder {
    margin-right: 28px;
  }
  .user-dp {
    height: 77px;
    width: 77px;
  }
  .mobile-header {
    margin: 16px 16px 16px;
  }
  .mobile-description {
    font-size: 1rem;
    line-height: 20px;
    overflow: hidden;
    padding: 0 16px 21px;
    text-overflow: ellipsis;
  }
  .mobile-user-stats {
    display: flex;
    padding: 12px 0;
    border-top: 1px solid rgba(var(--b38, 219, 219, 219), 1);

    border-bottom: 1px solid rgba(var(--b38, 219, 219, 219), 1);
    justify-content: space-around;
  }
  .user-strong-name {
    font-size: 1.17em;
    font-weight: 600;
  }
  .mobile-stats {
    text-align: center;
  }
  .stats-bold {
    font-weight: 600;
  }
}
